.my-card {
  border: 1px solid #ccc;
}

.ant-card-head {
  border-bottom: none !important;
}

.my-card:hover {
  border-color: #4e80ee
}

.my-card-title {
  transition: color 0.3s;
  border-bottom: none;
}

.my-card:hover .my-card-title {
  color: #4e80ee;
  cursor: pointer;
}